.Rproj.user
.Rhistory
.RData
.Ruserdata
testing/
qaqc_files/
creds/
# files/folders to untrack for API pulls
*/apienv/
*/requirements.txt
# remove the annoying Mac .DS_Store
.DS_Store
**.DS_Store
# remove linting files
.lintr/
inst/doc
/doc/
/Meta/
data/
test_data/
# Remove scratch/ignore files
ignore_files/
notes/
# ignore creds
creds/
# ignore vs code settings
.vscode/
# renv stuff
^renv$
^renv\.lock$